
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

app-root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}