mat-list-item {
    * {
        cursor: pointer;
    }
    margin-bottom: .7rem;
}

.records-btn {
    float: right;
    background-color: green;
    color: white;
}

.download-btn {
    float: right;
    background-color: green;
    color: white;
    margin-left: .5rem;

}

mat-card {
    width: 30rem;
}